var newContent = "<%= j render 'blog_admin/shared/post_list' %>"

if (<%= @posts.length %> === 0) {
  newContent = "<h1>You don't have any drafts</h1>"
}

document.getElementById('draft-post-list').innerHTML = newContent
