var newContent = "<h1>You don't have any drafts</h1>"

if (<%= @posts.length %> > 0) {
  newContent = "<%= j render 'blog_admin/shared/post_list' %>"
}

document.querySelector('.js-admin-posts__list--drafts').innerHTML = newContent
