<h1>Your Posts</h1>

<%= render partial: 'blog/shared/search_form',
              locals: {endpoint: blog_posts_path} %>

<div id="post-list">
  <%= render partial: 'blog/shared/post_list',
                locals: {endpoint: blog_post_path(1)}  %>
</div>
