var newContent = "<%= j render 'blog/shared/post_list' %>"

if (<%= @posts.length %> === 0) {
  newContent = "<h1>Sorry, Didn't Find Anything</h1>"
}

document.getElementById('post-list').innerHTML = newContent
