<div class="c-admin-posts">
  <div class="c-admin-posts__title">
    Your Published Posts
  </div>

  <%= render partial: 'shared/search_form',
             locals: {endpoint: blog_admin_published_posts_path} %>

  <div class="c-admin-posts__list js-admin-posts__list--published">
    <%= render 'blog_admin/shared/post_list' %>
  </div>
</div>
