<div class="c-admin-tag">
  <div class="c-admin-tag__title">
    <%= @tag.name %>
  </div>
  <%= link_to "Edit", edit_blog_admin_tag_path(@tag), class: 'c-admin-posts__button' %>
  <div class="c-admin-posts__list js-admin-posts__list">
    <%= render 'blog_admin/shared/post_list'%>
  </div>
</div>

