var newContent = "<%= j render 'articles_list' %>"

if (<%= @articles.length %> === 0) {
  newContent = "<h1>Sorry, Didn't Find Anything</h1>"
}

document.getElementById('articles-list').innerHTML = newContent
