<section class="c-hero-image">
  <div class="c-hero-image__title-background">
    <div class="c-hero-image__title">Furiously Curious</div>
    <div class="c-hero-image__subtitle">About Stuff</div>
  </div>
</section>

<div class="c-search-form">
  <%= render  partial: 'shared/search_form',
              locals: { endpoint: articles_path } %>
</div>

<div class="c-articles-list js-articles-list">
  <%= render 'articles_list'%>
</div>
