<div class="c-admin-profiles">
  <div class="c-admin-profiles__title">Profiles</div>

  <%= render partial: 'shared/search_form',
            locals: {endpoint: blog_admin_profiles_path} %>

  <%= link_to 'New Profile', new_blog_admin_profile_path, class: 'c-admin-profiles__button c-admin-profiles__button--full-row' %>

  <div class="js-admin-profiles__list">
    <%= render 'blog_admin/shared/profile_list' %>
  </div>
</div>
