<h1>Your Profiles</h1>

<%= render partial: 'shared/search_form',
           locals: {endpoint: blog_admin_profiles_path} %>

<div class="js-profiles__list">
  <%= render 'blog_admin/shared/profile_list' %>
</div>
