var newContent = "<%= j render 'profile_list' %>"

if (<%= @profiles.length %> === 0) {
  newContent = "<h1>Sorry, Didn't Find Anything</h1>"
}

document.getElementsByClassName('js-profiles__list')[0].innerHTML = newContent
