<div class="c-container">
  <div class="c-container__title">Authors</div>

  <%= render partial: 'shared/search_form',
             locals: {endpoint: accounts_profiles_path} %>

  <div class="c-container__list js-profiles__list">
    <%= render 'profile_list' %>
  </div>
</div>
