var newContent = "<div class='c-container__heading'>Sorry, Didn't Find Anything</div>"

if (<%= @profiles.length %> > 0) {
  newContent = "<%= j render 'profile_list' %>"
}

document.querySelector('.js-profiles__list').innerHTML = newContent
