var postList = document.querySelector('.js-admin-posts__list')
var showBody = document.querySelector('.js-admin-post__show-body')
var newContent = stuffToShow(postList)

function stuffToShow(listView) {
  if (listView) {
    return anyPosts()
  } else {
    return "<%= j render 'blog_admin/shared/show_body' %>"
  }
}

function anyPosts() {
  if (<%= @posts.length %> === 0) {
    return "<h1>Sorry, Didn't Find Anything</h1>"
  } else {
    return "<%= j render 'blog_admin/shared/post_list' %>"
  }
}

var renderDiv = postList ? postList : showBody

renderDiv.innerHTML = newContent
