<div class="c-about">
  <%= image_tag 'profile.jpg', class: "c-about__profile-image" %>

  <div class="c-about__title">Writin' Some Code</div>
  <div class="c-about__subtitle">To make you happy</div>

  <div class="c-about__content">
    <div class="c-about__content-text">
      Messenger bag offal pitchfork, flannel roof party sustainable bespoke fam celiac single-origin coffee lyft shoreditch aesthetic. Fam vegan activated charcoal unicorn drinking vinegar. Ethical brooklyn keytar etsy, master cleanse whatever scenester chia fashion axe 3 wolf moon chillwave church-key pabst. Venmo food truck brooklyn poke crucifix paleo pop-up photo booth trust fund gastropub taiyaki cliche kale chips. 90's kombucha shabby chic umami before they sold out beard. Normcore venmo next level echo park jean shorts kale chips cardigan jianbing, tote bag cronut.
    </div>


    <div class="c-about__content-text">
      Hoodie kitsch direct trade lyft bespoke la croix. Echo park letterpress meh, leggings fixie hammock direct trade occupy messenger bag tbh. Four dollar toast cold-pressed chartreuse deep v tousled. Meh direct trade quinoa meditation pug 90's, etsy jean shorts. Glossier marfa yuccie paleo lomo sartorial man bun DIY normcore you probably haven't heard of them pickled asymmetrical. Cronut chambray YOLO poke mumblecore. Subway tile freegan schlitz meggings microdosing.
    </div>

    <div class="c-about__content-text">
      Sriracha hot chicken semiotics chartreuse, cardigan pop-up man bun. Food truck hashtag copper mug, ugh keytar salvia asymmetrical listicle farm-to-table. Small batch polaroid distillery, keytar pok pok wolf gochujang shoreditch shabby chic williamsburg tumblr woke. Shabby chic yuccie kitsch schlitz leggings PBR&B fingerstache twee pabst enamel pin. Meditation dreamcatcher butcher before they sold out. Semiotics kombucha swag flannel raclette cronut pabst gochujang succulents poke next level lyft kogi godard.
    </div>

    <div class="c-about__content-text">
      Pug scenester tacos pabst marfa. Four loko cred VHS live-edge trust fund fanny pack brooklyn viral kinfolk wolf. Vape tattooed jianbing, dreamcatcher meditation copper mug lumbersexual aesthetic. Food truck cliche cloud bread swag, banh mi fashion axe mustache offal selvage.
    </div>

    <div class="c-about__content-text">
      Heirloom franzen chicharrones art party hexagon tbh lo-fi bitters, la croix ethical banjo mustache distillery fixie meh. Taxidermy typewriter cold-pressed plaid scenester bushwick +1 paleo banjo. Flannel truffaut skateboard franzen art party trust fund messenger bag cronut. Raclette chia woke hammock. Plaid bicycle rights DIY, dreamcatcher glossier pop-up hashtag mixtape etsy venmo knausgaard tote bag. Hoodie yuccie readymade VHS helvetica jianbing franzen narwhal messenger bag meditation.
    </div>
  </div>
</div>
