<section class="c-hero-image">
  <div class="c-hero-image__title-background">
    <div class="c-hero-image__title">Furiously Curious</div>
    <div class="c-hero-image__subtitle">About Stuff</div>
  </div>
</section>

<div class="c-container__title">Recent Articles</div>

<div class="c-articles-list js-articles-list">
  <%= render 'articles_list'%>
</div>
