var newContent = "<%= j render 'blog/shared/post_list' %>"

if (<%= @posts.length %> === 0) {
  newContent = "<h1>Sorry, No Posts Left</h1>"
}

document.getElementById('hidden-post-list').innerHTML = newContent
