var newContent = "<h1>Sorry, Didn't Find Anything</h1>"

if (<%= @tags.length %> > 0) {
  newContent = "<%= j render 'tags_list' %>"
}

document.querySelector('.js-tags__list').innerHTML = newContent
