// sass-lint:disable indentation

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    asset-url('roboto-v20-latin-regular.woff2') format('woff2'),
    asset-url('roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    asset-url('roboto-v20-latin-700.woff2') format('woff2'),
    asset-url('roboto-v20-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Fira Sans Regular'),
    local('FiraSans-Regular'),
    asset-url('fira-sans-v10-latin-regular.woff2') format('woff2'),
    asset-url('fira-sans-v10-latin-regular.woff') format('woff');
}
