// Colors
$white: #edf2f3;
$white--background: #cedce0;
$green: #5bba6f;
$green--border: #4b995b;
$danger: #d93b4b;
$black: #2d3142;
$black--transparent: rgba(45, 49, 66, .9);

$navbar--background-color: $black--transparent;
$content--font-color: $black;
$base--font-color: $white;

$hero-image--text-background-gradient: radial-gradient(circle at bottom left, rgba(256, 256, 256, .6), rgba(256, 256, 256, 0) 70%);

// Fonts
$fira: 'Fira Sans', 'Helvetica', 'Arial', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

// Breakpoints
$desktop: 992px;
$tablet: 768px;
