// Colors
$black: #35383b;
$white: #f7fafe;

$base--font-color: $white;
$navbar--background-color: rgba(0, 0, 0, .8);
$content--font-color: $black;

// Fonts

$fira: 'Fira Sans', 'Helvetica', 'Arial', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

// Breakpoints
$desktop: 992px;
$tablet: 768px;
