<h1>Your Posts</h1>

<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
  <div>
    <%= link_to post.title, post_path(post) %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Delete', post, method: :delete %>
  </div>
<% end %>
