<div class="c-admin-category__form">
  <%= simple_form_for([:blog_admin, @category],
                        defaults: { wrapper_html: { class: 'c-admin-post-form__input-wrapper'} }) do |f| %>
    <%= f.input :name,
                input_html: { class: 'c-admin-category__form-input' },
                label_html: { class: 'c-admin-category__form-label'}  %>
    <%= f.button :submit, class: 'c-admin-category__form-submit-button' %>
  <% end %>
</div>
