var newContent = "<h1>Sorry, Didn't Find Anything</h1>"

if (<%= @categories.length %> > 0) {
  newContent = "<%= j render 'blog_admin/shared/category_list' %>"
}

document.querySelector('.js-admin-categories__list').innerHTML = newContent
