var newContent = "<%= j render 'blog_admin/shared/category_list' %>"

if (<%= @categories.length %> === 0) {
  newContent = "<h1>Sorry, Didn't Find Anything</h1>"
}

document.getElementById('category-list').innerHTML = newContent
