<div class="c-admin-category">
  <div class="c-admin-category__title">
    <%= @category.name.titleize %>
  </div>
  <%= link_to "Edit", edit_blog_admin_category_path(@category), class: 'c-admin-posts__button' %>
  <div class="c-admin-posts__list js-admin-posts__list">
    <%= render 'blog_admin/shared/post_list'%>
  </div>
</div>

