.c-admin-tags-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  justify-items: center;
  margin: auto;
  width: 90vw;

  &__button {
    @include admin-button;
    grid-column: 1 / -1;
    margin-bottom: 1rem;
    width: 100%;

    @media (min-width: $tablet) {
      width: 50vw;
    }
  }

  &__card {
    background-color: $white;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    padding-bottom: 1rem;
    padding-top: .5rem;
    text-align: center;
    width: 100%;
  }

  &__heading {
    color: $content--font-color;
    font-family: $font--heading;
    font-size: 2rem;
    text-decoration: none;
  }

  &__post-count {
    font-size: 1.4rem;
    font-style: italic;
  }

  &__links {
    align-self: end;
    display: grid;
    gap: .8rem;
    justify-items: center;
    width: 100%;
  }

  &__link {
    background-color: $blue;
    border: 1px solid $blue--border;
    border-radius: .7rem;
    box-shadow: 1px 1px 3px $black--shadow;
    color: $content--font-color;
    cursor: pointer;
    padding: .2rem 0;
    text-align: center;
    text-decoration: none;
    transition: transform ease-in-out .05s, box-shadow .05s;
    width: 90%;

    &:hover {
      box-shadow: 3px 3px 5px $black--shadow;
      transform: scale(1.01) translateY(-1px) translateX(-1px);
    }
  }

  &__link--danger {
    background-color: $danger;
    border: 1px solid $danger--border;
    border-radius: .7rem;
    box-shadow: 1px 1px 3px $black--shadow;
    color: $content--font-color;
    cursor: pointer;
    padding: .2rem 0;
    text-align: center;
    text-decoration: none;
    transition: transform ease-in-out .05s, box-shadow .05s;
    width: 90%;

    &:hover {
      box-shadow: 3px 3px 5px $black--shadow;
      transform: scale(1.01) translateY(-1px) translateX(-1px);
    }
  }
}
