.c-button {
  background-color: $blue;
  border: 1px solid $blue--border;
  border-radius: .7rem;
  box-shadow: 1px 1px 3px $black--shadow;
  color: $content--font-color;
  cursor: pointer;
  margin: .5rem;
  padding: .2rem 0;
  text-align: center;
  text-decoration: none;
  transition: transform ease-in-out .05s, box-shadow .05s;
  width: 70%;

  &:hover {
    box-shadow: 3px 3px 5px $black--shadow;
    transform: scale(1.01) translateY(-1px) translateX(-1px);
  }

  &--danger {
    background-color: $danger;
  }

  &--full-row {
    margin-bottom: 1.5rem;
    padding: .5rem;
    width: 40vw;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: center;
    margin: 1rem;
    width: 100%;

    &--half-row {
      width: 50%;
    }
  }
}
