<nav class="c-navbar">
  <div class="c-navbar__brand">Furiously Curious</div>
  <div class="c-navbar__hamburger-wrapper">
    <div class="c-navbar__hamburger"></div>
  </div>
  <div class="c-navbar__mobile-dropdown">
    <div class="c-navbar--left">left side links</div>
    <div class="c-navbar--right">right side links</div>
  </div>
</nav>