<nav class="c-navbar">
  <div class="c-navbar__brand">Furiously Curious</div>
  <div class="c-navbar__hamburger-wrapper">
    <div class="c-navbar__hamburger"></div>
  </div>
  <div class="c-navbar__mobile-dropdown">
    <div class="c-navbar--left">
      <ul class="c-navbar__link-list">
        <li class="c-navbar__link-wrapper">
          <a href="" class="c-navbar__link">Articles</a>
        </li>
        <li class="c-navbar__link-wrapper">
          <a href="" class="c-navbar__link">About</a>
        </li>
      </ul>
    </div>

    <div class="c-navbar--right">
      <ul class="c-navbar__link-list">
        <li class="c-navbar__link-wrapper">
          <a href="" class="c-navbar__link">Login</a>
        </li>
        <li class="c-navbar__link-wrapper">
          <a href="" class="c-navbar__link">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>